#add-card-button {
    position: absolute;
    z-index: 1000;
    width: 4em;
    height: 4em;
    left: 1em;
    top: 1em;
}

.table-stat {
    background-color: #ffffff;
    padding: 0.5em;
    border: 0.1em solid green;
    position: absolute;
    z-index: 1000;
    top: 2em;
    right: 3em;
}

.base_card {
    width: 200px;
    height: 200px;
    border: 0.1em solid black;
    background-color: #ffffff;
    position: absolute;
    cursor: pointer;
    z-index: 10;
    top: 200px;
    left: 200px;
}

.base_card .icon-default {
    position: absolute;
    width: 1.5em;
    height: 1.5em;
}

.base_card .delete-icon {
    right: 0.5em;
    top: 0.5em;
}

.base_card .resize-icon {
    bottom: 0.5em;
    right: 0.5em;
}