#add-card-button {
    position: absolute;
    z-index: 999;
    width: 4em;
    height: 4em;
    left: 1em;
    top: 1em;
}

.table-stat {
    background-color: #ffffff;
    padding: 0.5em;
    border: 0.1em solid green;
    position: absolute;
    z-index: 999;
    top: 2em;
    right: 3em;
}

.base_card {
    width: 200px;
    height: 200px;
    border: 0.1em solid black;
    background-color: #ffffff;
    position: absolute;
    cursor: pointer;
    z-index: 10;
    top: 200px;
    left: 200px;
    overflow-x: hidden;
    overflow-y: hidden;
    min-width: 100px;
    min-height: 100px;
}

.base_card .icon-default {
    position: absolute;
    width: 1.5em;
    height: 1.5em;
}

.base_card .delete-icon {
    right: 0.5em;
    top: 0.5em;
}

.base_card .resize-icon {
    bottom: 0.5em;
    right: 0.5em;
}

.base_card .edit-icon {
    top: 0.5em;
    left: 0.5em;
}

.base_card .editable {
    margin: 2em;
}

.active-card {
    border: 0.1em solid red;
}

.main-edit {
    position: relative;
    margin: 0 auto;
    z-index: 1000;
    top: 50%;
    transform: translateY(-50%);
    width: 50%;
    height: 50%;
    padding-top: 5%;
    background-color: white;
    border: 0.1em solid green;
}

.main-edit textarea {
    margin-left: 10%;
    width: 80%;
    height: 50%;
}

.main-edit .icon-default {
    position: absolute;
    width: 2em;
    height: 2em;
}

.main-edit .ok-icon {
    bottom: 0.5em;
    right: 3em;
}

.main-edit .cancel-icon {
    bottom: 0.5em;
    right: 0.5em;
}

.edit-background-cover {
    position: relative;
    z-index: 1000;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}